<div class="container about">
	<div class="photo col-xs-4 col-sm-4 col-md-4 col-lg-3">
		<div class="thumbnail">
			<img alt="Auggie Bautista" src="app/images/ab.png" />
			<div class="caption">
				Auggie Bautista <br />
				<a href="http://bit.ly/1Pbdu4Q" target="_blank"><i class="fa fa-linkedin-square fa-lg"></i></a>
				<a href="http://bit.ly/1YqmXYv" target="_blank"><i class="fa fa-github fa-lg"></i></a>
			</div>
		</div>
	</div>
	<h1>About</h1>
	<p class="content">Retrieval was created as a full-stack project for General Assembly Seattle's Web Development Immersive by Auggie Bautista</p>

	<p class="content">The act of retrieving learning from memory has two profound benefits. One, it tells you what you know and don’t know, and therefore where to focus further study to improve the areas where you’re weak. Two, recalling what you have learned causes your brain to reconsolidate the memory, which strengthens its connections to what you already know and makes it easier for you to recall in the future. </p>
	<p class="name">- Peter C. Brown, <em>Make it Stick</em></p>
	
	<a href="/" class="back-btn pull-right">&larr; Back to Main Page</a>
</div>
