<div class="container about">
	
	<div class="quote">
		<p>The act of retrieving learning from memory has two profound benefits. One, it tells you what you know and don’t know, and therefore where to focus further study to improve the areas where you’re weak. Two, recalling what you have learned causes your brain to reconsolidate the memory, which strengthens its connections to what you already know and makes it easier for you to recall in the future.
		<p class="name">- Peter C. Brown, <em>Make it Stick</em></p>
	</div>
	<h1>About</h1>
	<div class="content">
		<p >This web application, Retrieval, was created as a MEAN stack project by Auggie Bautista for General Assembly Seattle's Web Development Immersive.</p>
	</div>
	<div class="me-div col-xs-12">
		<div class="row col-xs-6">
			<img class="me" src="app/images/ab.png" />
		</div>
		<div class="row col-xs-6">
			<div class="social">
				<p><a href="https://github.com/abautist" target="_blank" class="social-lnk animated pulse infinite"><i class="fa fa-github fa-2x"></i></a></p>
				<p><a href="https://www.linkedin.com/in/agustinbautista" target="_blank" class="social-lnk animated pulse infinite"><i class="fa fa-linkedin-square fa-2x"></i></a></p>
				<p><a href="mailto:abautist703@gmail.com" target="_blank" class="social-lnk animated pulse infinite"><i class="fa fa-envelope-o fa-2x"></i></a></p>
			</div>
		</div>
	</div>

	<div class="back">
		<a href="/" class="back-btn pull-left">&larr; Back to Main Page</a>
	</div>
</div>
