<div class="section-1" id="splash-section">
	<h1 class="title" data-lettering="letters">Retrieval</h1>
	<div class="container-fluid">
		<div class="row ani-container">
			<div class="splash-cards col-xs-6 col-sm-6 col-md-6 col-lg-6">
				<div class="well splash-card" ng-class="{on: $index === selectedIdx}" ng-repeat="card in flashcards | limitTo:2 track by $index">
					<h3 class="card-header"> {{ card.category }} </h3>
					<p class="splash-text">{{ card.front }}</p>
				</div>
			</div>
			<div class="splash-btns col-xs-6 col-sm-6 col-md-6 col-lg-6">
				<span class="btns"><a href="#" scroll-to="create-section" class="landing-pg-btns btn btn-default btn-lg">Create</a></span>
				<span class="btns"><a href="#" scroll-to="search-section" class=" landing-pg-btns btn btn-primary btn-lg">Search</a></span>
			</div>
		</div>
	</div>
</div>

<div class="section-2">
	<div id="create-section" ng-include="'app/views/new.html'"></div>
</div>

<div class="section-3">
	<div id="search-section" class="row search-row">
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xs-offset-3 col-sm-offset-3 col-md-offset-3 col-lg-offset-3">
			<h2>Search Decks and Find your Study Topic</h2>
			<input type="text" class="form-control" placeholder="Ex. Javascript" ng-model="search">
		</div>
	<form>
    <label> Filter by Category: </label>
    <select ng-model="category">
      <option ng-repeat="card in flashcards | orderBy: 'category'" value="{{ card.category }}">{{ card.category }}</option>
    </select>
  </form>
	</div>

	<div id="cards-section" class="col-xs-4 col-sm-4 col-md-4 col-lg-4" ng-repeat="card in flashcards | filter: category | filter: search">
		<div class="well-container">
			<div class="well">
					<h4>{{ card.category }}</h4>
					<p>{{ card.front }}</p>
					<p>{{ card.back }}</p>
					<br />
					<a ng-href="/flashcards/delete/{{ card._id }}" class="btn btn-danger btn-lg">Delete</a>
					<a ng-click="showUpdate($index)" class="btn btn-primary btn-lg pull-right">Update</a>
			</div>
		</div>
	</div>
</div>