<div ng-include="'app/views/navbar.html'"></div>
<div class="section-1" id="splash-section">
	<h1 class="title" data-lettering="letters">Retrieval</h1>
	<div class="container-fluid">
		<div class="row ani-container">
			<div class="splash-cards col-xs-6 col-sm-6 col-md-6 col-lg-6">
				<div class="well splash-card" ng-class="{on: $index === selectedIdx}" ng-repeat="card in flashcards | limitTo:2">
					<h3 class="card-header"> {{ card.category }} </h3>
					<p class="splash-text">{{ card.front }}</p>
				</div>
			</div>
			<div class="splash-btns col-xs-6 col-sm-6 col-md-6 col-lg-6">
				<p class="splash-content">A simple web application to create and use flashcards.</p>
				<span class="btns"><a href="#" scroll-to="create-section" class="landing-pg-btns btn btn-default btn-lg">Create</a></span>
				<span class="btns"><a href="#" scroll-to="search-section" class=" landing-pg-btns btn btn-primary btn-lg">Search</a></span>
			</div>
		</div>
	</div>
</div>

<div class="section-2">
	<div id="create-section" ng-include="'app/views/new.html'"></div>
</div>

<div class="section-3" id="search-section">
	<h2>Search Flashcards and Filter by Study Topic</h2>
	<div class="section-3-filters">	
		<div class="section-3-hdr col-xs-6 col-sm-6 col-md-6 col-lg-8">
			<div class="row search-row col-xs-6 col-sm-6 col-md-6 col-lg-2">
				<label>Search:</label>
			</div>
			<div class="row col-xs-6 col-sm-6 col-md-6 col-lg-10">
				<input type="text" class="form-control" placeholder="Ex. Javascript" ng-model="search">
			</div>
		</div>
		<div class="row category-filter search-row col-xs-6 col-sm-6 col-md-6 col-lg-4">
			<form>
		    <label>Filter by Category: </label>
		    <select ng-model="category">
		      <option ng-repeat="option in myOptions" value="{{ option.category }}">{{ option.category }}</option>
		    </select>
		  </form>
	 </div>
	</div>
	<div class="sec-3-cards">
		<div id="cards-section" class="col-xs-6 col-sm-6 col-md-6 col-lg-4" ng-repeat="card in flashcards | filter: category | filter: search">
			<div class="flashcards well-container">
				<div class="well">
					<div class="front col-xs-6 col-sm-6 col-md-6 col-lg-10">
						<div class="card-hdr-front"><h4>{{ card.category }}</h4></div>
						<div class="card-body-front">{{ card.front }}</div>
					</div>
					<div class="back">
						<p class="back-content">{{ card.back }}</p>
						<div class="back-btns">
							<a ng-href="/flashcards/delete/{{ card._id }}" class="btn trash-btn"><i class="fa fa-trash-o fa-lg"></i></a>
							<a ng-click="showUpdate($index)" class="btn btn-primary pull-right">Update</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>