
<div class="container create" ng-controller="FlashcardNewCtrl">
	<div class="create-hdr">Add a new card here!</div>
	<p class="form-group">Exercise your brain and level up on your studying. Add flashcards to improve your ability to practice and retain core concepts.</p>
	<p class="note"><em>Note: User must be logged in to create a card</em></p>
	<form>
		<div class="form-group col-xs-12 col-sm-12 col-md-10 col-lg-9">
			<div class="row">
				<div>
					<label class="create-front">Front</label>
				</div>
				<div>
					<input type="text" ng-model="front" class="form-control" placeholder="ex. What is Javascript?">
				</div>
			</div>
			<br />
			<div class="row">
				<div>
					<label>Back</label>
				</div>
				<div>
					<textarea rows="5" ng-model="back" class="form-control" placeholder="Javascript is a high-level, dynamic, untyped, and interpreted programming language."></textarea>
				</div>
			</div>
			<br />
			<div class="new-form row">
				<div>
					<label>Image Link</label>
				</div>
				<div>
					<input type="text" ng-model="image" class="form-control" placeholder="ex. jpeg">
				</div>
			</div>
			<br />
			<div class="row">
				<div>
					<label>Category</label>
				</div>
				<div>
					<input type="text" ng-model="category" class="form-control" placeholder="Javascript">
				</div>
			</div>
		</div>
		<div class="form-btn">
			<button type="button" ng-show="isLoggedIn()" ng-click="createFlashcard()" class="create-form-btn animated pulse infinite btn btn-primary">Create!</button>
		</div>
	</form>
</div>