<div class="modal-header">
    <h3 class="modal-title">Update yo flashcard, mate!</h3>
</div>
<div class="modal-body">
	<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xs-offset-3 col-sm-offset-3 col-md-offset-3 col-lg-offset-3">	
	<form ng-submit='putFlashcard()'>
		<div class="form-group">
			<div class="row">
				<label>Front</label>
				<input type="text" ng-model="front" class="form-control" placeholder="{{item.front}}" value="{{item.front}}">
			</div>
			<div class="row">
				<label>Back</label>
				<input type="text" ng-model="back" class="form-control" placeholder="{{item.back}}" value="{{item.back}}">
			</div>
			<div class="row">
				<label>Image</label>
				<input type="text" ng-model="image" class="form-control" placeholder="ex .jpeg, .png">
			</div>
			<div class="row">
				<label>Category</label>
				<input type="text" ng-model="category" class="form-control" placeholder="{{item.category}}" value="{{item.category}}">
			</div>
			<div class="row">
				<button type="submit" class="btn btn-primary">Submit</button>
			</div>
		</div>
	</form>
	</div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="cancel()">Close</button>
</div>
