<h1>Update yo flashcard, mate!</h1>
<div class="well container">
	<form ng-submit='putFlashcard()'>
		<div class="form-group">
			<div class="row">
				<label>Front</label>
				<input type="text" ng-model="front" class="form-control">
			</div>
			<div class="row">
				<label>Back</label>
				<input type="text" ng-model="back" class="form-control">
			</div>
			<div class="row">
				<label>Image</label>
				<input type="text" ng-model="image" class="form-control">
			</div>
			<div class="row">
				<label>Category</label>
				<input type="text" ng-model="category" class="form-control">
			</div>
			<div class="row">
				<button type="submit" class="btn btn-primary">Submit</button>
			</div>
	</form>
</div>

<a ng-href="/">&larr; Back</a>