@import url(https://fonts.googleapis.com/css?family=Crushed);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,500,700);
body {
  font-family: "Ubuntu";
  height: 100%;
  background: #114357;
  background: -webkit-linear-gradient(to bottom, #114357, #F29492);
  background: linear-gradient(to bottom, #114357, #F29492);
  background-repeat: no-repeat; }

.navbar {
  background-color: transparent;
  border: none; }
  .navbar .navbar-brand {
    color: white;
    font-size: 24px; }
    .navbar .navbar-brand:hover {
      color: #19ff19; }
  .navbar .navbar-nav > li > a {
    color: #e0e0e0;
    font-size: 20px;
    font-weight: 100; }
    .navbar .navbar-nav > li > a:hover {
      color: #7f7f7f; }

.login {
  padding-top: 10%;
  padding-bottom: 30%; }
  .login legend {
    font-size: 46px;
    color: white; }
  .login label {
    font-size: 24px;
    font-weight: 100;
    color: white; }
  .login .form-control {
    background: transparent;
    border-radius: 0;
    color: white;
    border: none;
    border: 1px solid white;
    box-shadow: none;
    outline: none; }
  .login .btn-div {
    margin-top: 5%;
    text-align: center; }
    .login .btn-div .btn {
      padding: 9px 24px;
      font-size: 24px;
      color: white;
      border-radius: 0px;
      border: 2px solid #ccc;
      background: transparent; }
      .login .btn-div .btn:hover {
        background: #ccc;
        color: black; }
  .login .back-btn {
    color: white;
    font-size: 18px; }
    .login .back-btn:hover {
      color: #333333; }
  .login input::-webkit-input-placeholder {
    color: #e5e5e5 !important; }
  .login input:-moz-placeholder {
    /* Firefox 18- */
    color: #e5e5e5 !important; }
  .login input::-moz-placeholder {
    /* Firefox 19+ */
    color: #e5e5e5 !important; }
  .login input:-ms-input-placeholder {
    color: #e5e5e5 !important; }

.section-1 {
  background: url(../images/study2.jpeg) no-repeat;
  z-index: 99;
  background-size: 100% 100%;
  border-top: 1px solid white;
  text-align: center;
  width: 100%;
  height: 800px; }
  .section-1 h1.title {
    font-family: "Crushed";
    font-size: 200px;
    font-weight: 900;
    color: white; }
    .section-1 h1.title .char3 {
      color: red;
      font-size: 250px; }

.splash-cards {
  font-size: 80px; }

.splash-card {
  margin-left: 25%;
  background: transparent;
  list-style: none;
  visibility: hidden;
  background-color: white;
  height: 20%;
  width: 80%;
  font-size: 20px;
  border-radius: 0;
  box-shadow: 0 20px 12px -12px #323232; }

.on {
  visibility: visible; }

.splash-btns .splash-content {
  margin: -8% 8% 8% 5%;
  color: #ccc;
  font-size: 20px; }
.splash-btns .author {
  font-size: 16px;
  color: #ccc;
  margin-bottom: 2%; }
.splash-btns span.btns {
  margin: 5%; }
  .splash-btns span.btns a.landing-pg-btns {
    padding: 11px 30px;
    font-size: 25px;
    color: #ccc;
    border-radius: 0px;
    border: 2px solid #ccc;
    background: transparent; }
    .splash-btns span.btns a.landing-pg-btns:hover {
      background: #ccc;
      color: black; }

.section-2 {
  height: 700px; }
  .section-2 div.create {
    padding-top: 5%;
    font-size: 16px; }
    .section-2 div.create .create-hdr {
      font-size: 36px;
      font-weight: 100px;
      border-bottom: 1px solid white;
      color: white;
      margin-bottom: 2%; }
    .section-2 div.create p {
      color: white;
      font-weight: 100;
      font-size: 16px;
      margin-bottom: 3%; }
    .section-2 div.create label {
      font-size: 16px;
      font-weight: 100;
      color: white; }
    .section-2 div.create .form-control {
      background: transparent;
      border-radius: 0;
      color: white;
      border: none;
      border: 1px solid white;
      box-shadow: none;
      outline: none; }
    .section-2 div.create input::-webkit-input-placeholder {
      color: #e5e5e5 !important; }
    .section-2 div.create textarea::-webkit-input-placeholder {
      color: #e5e5e5 !important; }
    .section-2 div.create input:-moz-placeholder {
      /* Firefox 18- */
      color: #e5e5e5 !important; }
    .section-2 div.create input::-moz-placeholder {
      /* Firefox 19+ */
      color: #e5e5e5 !important; }
    .section-2 div.create input:-ms-input-placeholder {
      color: #e5e5e5 !important; }
    .section-2 div.create .form-btn {
      text-align: center;
      margin-top: 3%; }
      .section-2 div.create .form-btn button.create-form-btn {
        height: 180px;
        width: 180px;
        border-radius: 50%;
        font-size: 24px;
        color: white;
        border: 2px solid #ccc;
        background: transparent; }
        .section-2 div.create .form-btn button.create-form-btn:hover {
          background: #ccc;
          color: black; }

.section-3 {
  height: 700px; }
  .section-3 h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 100px;
    color: white;
    margin-bottom: 3%; }
  .section-3 .section-3-filters label {
    font-size: 24px;
    font-weight: 100;
    color: white;
    margin-left: 20%; }
  .section-3 .section-3-filters .form-control {
    background: transparent;
    border-radius: 0;
    color: white;
    border: 1px solid white;
    box-shadow: none;
    outline: none; }
  .section-3 .section-3-filters input::-webkit-input-placeholder {
    color: #e5e5e5 !important; }
  .section-3 .section-3-filters textarea::-webkit-input-placeholder {
    color: #e5e5e5 !important; }
  .section-3 .section-3-filters input:-moz-placeholder {
    /* Firefox 18- */
    color: #e5e5e5 !important; }
  .section-3 .section-3-filters input::-moz-placeholder {
    /* Firefox 19+ */
    color: #e5e5e5 !important; }
  .section-3 .section-3-filters input:-ms-input-placeholder {
    color: #e5e5e5 !important; }
  .section-3 .section-3-filters .category-filter {
    text-align: center;
    margin-bottom: 3%; }
    .section-3 .section-3-filters .category-filter select {
      margin-left: 2%;
      width: 30%;
      -webkit-appearance: value;
      -moz-appearance: value;
      appearance: value; }
  .section-3 .sec-3-cards .well-container {
    box-shadow: 0 20px 12px -12px #323232; }
    .section-3 .sec-3-cards .well-container:hover .well {
      transform: rotateY(180deg); }
    .section-3 .sec-3-cards .well-container .well {
      transition: 0.6s;
      transform-style: preserve-3d;
      height: 240px; }
    .section-3 .sec-3-cards .well-container .front,
    .section-3 .sec-3-cards .well-container .back {
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      position: absolute; }
    .section-3 .sec-3-cards .well-container .front {
      z-index: 2;
      transform: rotateY(0deg); }
      .section-3 .sec-3-cards .well-container .front .card-hdr-front {
        border-bottom: 2px solid #323232; }
        .section-3 .sec-3-cards .well-container .front .card-hdr-front h4 {
          font-size: 20px;
          font-weight: 900; }
      .section-3 .sec-3-cards .well-container .front .card-body-front {
        padding-top: 3%; }
    .section-3 .sec-3-cards .well-container .back {
      transform: rotateY(180deg); }
    .section-3 .sec-3-cards .well-container .btn {
      color: #ccc;
      border-radius: 0px;
      border: 2px solid #ccc;
      background: transparent; }
      .section-3 .sec-3-cards .well-container .btn:hover {
        background: #ccc;
        color: black; }

.modal-header {
  color: white;
  font-size: 36px;
  background: #232526;
  background: -webkit-linear-gradient(to left, #232526, #414345);
  background: linear-gradient(to left, #232526, #414345); }
  .modal-header .modal-btn {
    font-size: 16px;
    color: #ccc; }
    .modal-header .modal-btn:hover {
      color: white;
      cursor: pointer; }

.modal-body label {
  font-size: 18px;
  font-weight: 100;
  color: white; }
.modal-body .form-control {
  background: transparent;
  border-radius: 0;
  color: white;
  border: 1px solid white;
  box-shadow: none;
  outline: none; }
.modal-body input::-webkit-input-placeholder {
  color: #e5e5e5 !important; }
.modal-body textarea::-webkit-input-placeholder {
  color: #e5e5e5 !important; }
.modal-body input:-moz-placeholder {
  /* Firefox 18- */
  color: #e5e5e5 !important; }
.modal-body input::-moz-placeholder {
  /* Firefox 19+ */
  color: #e5e5e5 !important; }
.modal-body input:-ms-input-placeholder {
  color: #e5e5e5 !important; }
.modal-body .btn {
  color: #ccc;
  border-radius: 0px;
  border: 2px solid #ccc;
  background: transparent; }
  .modal-body .btn:hover {
    background: #ccc;
    color: black; }

.modal-footer {
  background: #232526;
  background: -webkit-linear-gradient(to left, #232526, #414345);
  background: linear-gradient(to left, #232526, #414345); }

/*# sourceMappingURL=output.css.map */
