@import url(https://fonts.googleapis.com/css?family=Crushed);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,500,700);

body {
	font-family: "Ubuntu";
	height: 100%;
}

.navbar {
	background-color: transparent;
	border: none;
}


.section-1 {
	text-align: center;
	width: 100%;
	height: 600px;
	h1.title {
		font-family: "Crushed";
		font-size: 200px;
		font-weight: 900;
	}
	span.btns {
			margin: 5%;
		a.landing-pg-btns {
			padding: 15px 25px;
			font-size: 30px;
			border-radius: 0px;
		}
	}
	div.splash-card {
		margin-top: 2%;
	}

}

.section-2 {
	text-align: center;
}

.section-3 {
	height: 600px;
	text-align: center;
}

.splash-card {
  background:transparent;
  list-style:none;
  visibility: hidden;
}

.on {
  visibility: visible;
}

