@import url(https://fonts.googleapis.com/css?family=Crushed);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,500,700);

body {
	font-family: "Ubuntu";
	height: 100%;
	background: #114357;
	background: -webkit-linear-gradient(to bottom, #114357 , #F29492);
	background: linear-gradient(to bottom, #114357 , #F29492);
	background-repeat: no-repeat;
}

.navbar {
	background-color: transparent;
	border: none;
	.navbar-brand {
		color: white;
		font-size: 24px;
	}
	.navbar-nav > li > a {
		color: #e0e0e0;
		font-size: 20px;
		font-weight: 100;
		&:hover {
			color: #666666;
		}
	}
}

.login {
	padding-top: 10%;
	padding-bottom: 30%;
	legend {
		font-size: 46px;
		color: white;
	}
	label {
		font-size: 24px;
		font-weight: 100;
		color: white;
	}
	.form-control {
		background: transparent;
		border-radius: 0;
		color: white;
		border: none;
		border: 1px solid white;
		box-shadow: none;
		outline: none;
	}
	.btn-div {
		margin-top: 5%;
		text-align: center;
		.btn {
		padding: 9px 24px;
		font-size: 24px;
		color: #ccc;
		border-radius: 0px;
		border: 2px solid #ccc;
		background: transparent;
		&:hover {
			background: #ccc;
			color: black;
			}
		}	
	}

	.back-btn {
		color: #ccc;
		font-size: 18px;
	}
	

	input::-webkit-input-placeholder {
		color: #e5e5e5 !important;
	}
	 
	input:-moz-placeholder { /* Firefox 18- */
		color: #e5e5e5 !important;  
	}
	 
	input::-moz-placeholder {  /* Firefox 19+ */
		color: #e5e5e5 !important;  
	}
	 
	input:-ms-input-placeholder {  
		color: #e5e5e5 !important;  
	}

}

.section-1 {
	background: url(../images/study2.jpeg) no-repeat;
	z-index: 99;
	background-size: 100% 100%;
	border-top: 1px solid white;
	text-align: center;
	width: 100%;
	height: 800px;
	h1.title {
		font-family: "Crushed";
		font-size: 200px;
		font-weight: 900;
		color: white;
		.char3 {
			color: red;
			font-size: 250px;
		}
	}
}

.splash-cards {
	font-size: 80px;
}

.splash-card {
  margin-left: 25%;
  background:transparent;
  list-style: none;
  visibility: hidden;
  background-color: white;
  height: 20%;
  width: 80%;
  font-size: 20px;
  border-radius: 0;
  box-shadow: 0 20px 12px -12px #323232;
}

.on {
  visibility: visible;
}

.splash-btns {
	span.btns {
			margin: 5%;
		a.landing-pg-btns {
			padding: 15px 40px;
			font-size: 25px;
			color: #ccc;
			border-radius: 0px;
			border: 2px solid #ccc;
			background: transparent;
			&:hover {
				background: #ccc;
				color: black;
			}
		}
	}
}

.section-2 {
	height: 700px;
	div.create {
		padding-top: 8%;
		font-size: 16px;
		.form-btn {
			text-align: center;
			margin-top: 5%;
			button.create-form-btn {
				height: 100px;
				width: 100px;
				border-radius: 50%;
			}
		}	
	}
}

.section-3 {
	height: 600px;
	text-align: center;
}

