@import url(https://fonts.googleapis.com/css?family=Crushed);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,500,700);

//variables
$label-font-size: 24px;

@mixin background-gradient {
	background: #114357;
	background: -webkit-linear-gradient(to bottom, #114357 , #F29492);
	background: linear-gradient(to bottom, #114357 , #F29492);
	background-repeat: no-repeat;
}

@mixin auth-placeholder-color {
	input::-webkit-input-placeholder {
		color: #ccc !important;
	}
	 
	input:-moz-placeholder { 
		color: #ccc !important;  
	}
	 
	input::-moz-placeholder { 
		color: #ccc !important;  
	}
	 
	input:-ms-input-placeholder {  
		color: #ccc !important;  
	}
}

@mixin input-placeholder-color {
	input::-webkit-input-placeholder {
		color: #ccc !important;
	}

	textarea::-webkit-input-placeholder {
		color: #ccc !important;
	}
	 
	input:-moz-placeholder { /* Firefox 18- */
		color: #ccc !important;  
	}
	 
	input::-moz-placeholder {  /* Firefox 19+ */
		color: #ccc !important;  
	}
	 
	input:-ms-input-placeholder {  
		color: #ccc !important;  
	}
}

html {
	font-family: "Ubuntu";
	@include background-gradient;
}

body {
	font-family: "Ubuntu";
	margin: 0;
	background: transparent;
}

.navbar {
	background-color: rgba(40, 40, 40, 0.9);
	border: none;
	color: white;

	.navbar-brand {
		color: white;
		font-size: 24px;

		&:hover {
			color: #19ff19;
		}
	}

	.navbar-nav > li > a {
		color: #f2f2f2;
		font-size: 20px;
		font-weight: 100;

		&:hover {
			color: #7f7f7f;
		}
	}
}

.about {
	color: white;
	padding-bottom: 100%;

	.quote {
		padding-top: 5%;
		color: #f2f2f2;
		font-size: 14px;
	}

	.name {
		text-align: right;
	}

	.content {
		margin-top: 2%;
		font-size: 16px;
	}

	.me-div {
		text-align: left;
		margin-top: 5%;
	}

	.me {
		border: 2px solid white;
		border-radius: 5%;
		width: 120px;
	}

	.social {
		padding-top: 5%;
		letter-spacing: 5px;
	}

	.social-lnk {
		color: white;

		&:hover {
			color: #333333;
		}
	}

	.back-btn {
		clear: both;
		margin-top: 8%;
		color: white;
		font-size: 14px;

		&:hover {
			color: #333333;
		}
	}
}

.login {
	padding-top: 10%;
	padding-bottom: 80%;

	legend {
		font-size: 46px;
		color: white;
	}

	label {
		font-size: $label-font-size;
		font-weight: 100;
		color: white;
	}

	.form-control {
		background: transparent;
		border-radius: 0;
		color: white;
		border: none;
		border: 1px solid white;
		box-shadow: none;
		outline: none;
	}

	.btn-div {
		margin-top: 5%;
		text-align: center;

		.btn {
			padding: 9px 24px;
			font-size: 24px;
			color: white;
			border-radius: 0px;
			border: 2px solid #ccc;
			background: transparent;

		&:hover {
			background: #ccc;
			color: black;
			}
		}	
	}

	.back-btn {
		margin-top: 10%;
		color: white;
		font-size: 18px;

		&:hover {
			color: #333333;
		}
	}

	@include auth-placeholder-color;	

}

.section-1 {
	background: url(../images/study2.jpeg) no-repeat;
	z-index: 99;
	background-size: 100% 100%;
	text-align: center;
	width: 100%;
	height: 800px;

	h1.title {
		padding-top: 20%;
		font-family: "Crushed";
		font-size: 90px;
		font-weight: 900;
		color: white;
		
		.char3 {
			color: red;
			font-size: 100px;
		}
	}

	.splash-content {
		color: #ccc;
		font-size: 20px;
		margin-top: -2%;
		margin-bottom: 3%;
	}

	.splash-btns {

		div.btns {
			margin-bottom: 3%;

			a.landing-pg-btns {
				padding: 11px 70px;
				font-size: 25px;
				color: #ccc;
				border-radius: 0px;
				border: 2px solid #ccc;
				background: transparent;

				&:hover {
					background: #ccc;
					color: black;
				}
			}
		}
	}
}

.background-grade {
	background: transparent;
}


.section-2 {
	height: 750px;

	div.create {
		padding-top: 12%;

		.create-hdr {
			font-size: 32px;
			text-align: center;
			border-bottom: 1px solid white;
			color: white;
			margin-bottom: 2%;
		}

		p { 
			color: #f2f2f2;
			font-size: 16px;
			margin-bottom: 1%;
		}

		.note {
			color: #ccc;
			font-size: 14px;
		}

		label {
			width: 100%;
			font-size: 16px;
			font-weight: 100;
			color: #f2f2f2;
		}

		.form-control {
			width: 100%;
			background: transparent;
			color: white;
			border: none;
			border: 1px solid white;
			box-shadow: none;
			outline: none;
		}

		@include input-placeholder-color;

		.form-btn {
			text-align: center;

			button.create-form-btn {
				height: 90px;
				width: 90px;
				border-radius: 50%;
				font-size: 18px;
				color: white;
				border: 2px solid #ccc;
				background: transparent;

				&:hover {
					background: #ccc;
					color: black;
				}
			}
		}		
	}
}

.section-3 {
	padding-top: 10%;
	height: 700px;

	h2 {
		text-align: center;
		font-size: 32px;
		color: white;
		margin-bottom: 3%;
	}

	@include input-placeholder-color;

	.section-3-filters {
		margin-left: 5%;

		label {
			font-size: 16px;
			font-weight: 100;
			color: white;
		}

		.form-control {
			width: 100%;
			background: transparent;
			border-radius: 0;
			color: white;
			border: 1px solid white;
			box-shadow: none;
			outline: none;
		}

		.category-filter {
			width: 100%;
			margin-top: 3%;
			margin-bottom: 3%;
			
			select {
				width: 50%;
			   -webkit-appearance: value;
			   -moz-appearance: value;
			   appearance: value;
			}
		}
	}

	.sec-3-cards {
		.well-container {
			box-shadow: 0 20px 12px -12px #323232;
			perspective: 1000;

			&:hover .well {
				transform: rotateY(180deg);
				}

			.well {
				transition: .8s;
				transform-style: preserve-3d;
				height: 240px;
			}

			.front, 
			.back {
				-webkit-backface-visibility: hidden;
				backface-visibility: hidden;
				position: absolute;
				width: 90%;
				height: 90%;
			}

			.front {
				z-index: 2;
				transform: rotateY(0deg);

				.card-hdr-front {
					border-bottom: 2px solid #323232;
					
					h4 {
						font-size: 20px;
						font-weight: 900;
					}
				}

				.card-body-front {
					padding-top: 3%;
				}
				
			}

			.back {
				transform: rotateY(180deg);
				margin-top: 2%;

				.back-content {
					height: 65%;
				}
				.back-btns {
					top: 90%;

					.trash-btn {
						color: #ccc;
						border-radius: 10%;
						border: 1px solid #ccc;
						background: transparent;

						&:hover {
							background: #cc0000;
							color: #660000;
							border: none;
						}
					}
				}
			}

			.btn {
				font-size: 16px;
				color: #ccc;
				border-radius: 10%;
				border: 1px solid #ccc;
				background: transparent;

				&:hover {
					background: #ccc;
					color: black;
				}
			}
		}	
	}		
}

.modal-header {
	color: white;
	font-size: 36px;
	background: #232526;
	background: -webkit-linear-gradient(to left, #232526 , #414345);
	background: linear-gradient(to left, #232526 , #414345);

	.modal-btn {
		font-size: 16px;
		color: #ccc;

		&:hover {
			color: white;
			cursor: pointer;
		}
	} 
}

.modal-body {
	label {
		font-size: 18px;
		font-weight: 100;
		color: white;
	}

	.form-control {
		background: transparent;
		border-radius: 0;
		color: white;
		border: 1px solid white;
		box-shadow: none;
		outline: none;
	}

	@include input-placeholder-color;

	.update-btn {
		text-align: center;
		
		.btn {
		color: #ccc;
		border-radius: 0px;
		border: 2px solid #ccc;
		background: transparent;

			&:hover {
				background: #ccc;
				color: black;
			}
		}
	}

}

.modal-footer {
	background: #232526;
	background: -webkit-linear-gradient(to left, #232526 , #414345);
	background: linear-gradient(to left, #232526 , #414345);  
}

.error-pg {
	height: 100%;
	text-align: center;
	background-color: black;
	margin-top: -5%;
	padding-top: 10%;
	padding-bottom: 100%;
}

@media (min-width: 768px) {
	.navbar {
		background-color: transparent;
	}

	.about {

		.quote {
			font-size: 18px;
		}

		.content {
			font-size: 22px;
		}

		.me-div {
			margin-top: 1%;
		}

		.me {
			width: 200px;
		}

		.social {
			padding-top: 3%;
			font-size: 22px;
		}

		.back-btn {
			margin-top: 3%;
		}
	}

	.login {
		padding-bottom: 30%;
	}

	.section-1 {
		border-top: 1px solid white;
		
		h1.title {
			padding-top: 0%;
			font-size: 200px;

			.char3 {
				font-size: 250px;
			}
		}
	}

	.section-2 {

		div.create {
			padding-top: 8%;

			p { 
				font-size: 18px;
			}

			.note {
				font-size: 16px;
			}

			label {
				width: 100%;
				font-size: $label-font-size;
			}

			.form-btn {
				text-align: center;

				button.create-form-btn {
					margin-top: 5%;
					height: 150px;
					width: 150px;
					font-size: $label-font-size;
				}
			}
		}
	}

	.section-3 {

		.section-3-filters {

			label {
				font-size: $label-font-size;
			}

			.category-filter {

				select {
					margin-left: 2%;
					width: 30%;
				}
			}
		}
	}
}
